#reader__scan_region img{
  margin: auto;
}

#reader__dashboard_section_csr #html5-qrcode-button-camera-permission  {
  padding: 10px 10px;
  margin: 5px 0px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
#html5-qrcode-button-camera-stop,#html5-qrcode-button-camera-start{
  padding: 2px 10px;
  margin: 5px 0px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
#reader img[alt="Info icon"]{
  display: none;
}
#html5-qrcode-anchor-scan-type-change{
  color: rgb(143, 143, 143);
  font-weight: 600;
  letter-spacing: 0.4px;
}